.container{
    max-width: 600px;
    margin: 10px;

    @media (max-width: 1200px) {
        max-width: 500px;
    }

    @media (max-width: 990px) {
        max-width:400px;
    }

    @media (max-width: 400px) {
        max-width: 300px;
    }

    &__editable{
        width: 70%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 990px) {
            display: inline-block;
        }
        &--on{
            display: block;
            width: 100%;
            &__select{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
    }
    &__title{
        display: flex;
        & > h3 {
            margin-left: 5px;
        }
    }
}